version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: tennispulse
      POSTGRES_USER: tennis
      POSTGRES_PASSWORD: tennis
    ports:
      - "5432:5432"

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  localstack:
    image: localstack/localstack:latest
    environment:
      - SERVICES=sqs,s3
      - DEBUG=1
    ports:
      - "4566:4566"
